In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

pd.set_option('display.max_columns', None)

## Importación
+ Primero se importa con configuración automática para verificar los campos.
+ Se establece un formato para cada campo a partir de la fuente del dataset.
+ Al definir los formatos saltaron errores que se solucionaron al cambiar a str algunos campos.
+ Esto permitió detectar cuales fueron esos campos con datos fuera de formato.
+ Se eliminaron esas filas problemáticas por no incidir porcentualmente en el dataset.

In [4]:
base='C:\\Users\\jorge\\DScience\\DataSet\\UNSW-NB15\\CSV Files\\'
#base='..\..\..\DScience\DataSet\TON-IoT\Processed_datasets\Processed_IoT_dataset\'
#Estoy en: 'C:\Users\jorge\Documents\Repo\DSI'

file_path1 = base + 'UNSW-NB15_1.csv'
#file_path2 = base + 'UNSW-NB15_2.csv'
#file_path3 = base + 'UNSW-NB15_3.csv'
#file_path4 = base + 'UNSW-NB15_4.csv'

In [25]:
#file1 = pd.read_csv(file_path1, header=0, names=headers, parse_dates=parse_dates, na_values=na_values)

# Define un diccionario de tipos de datos
dtype_mapping = {
    'srcip':str,
    'sport':str,
    'dstip':str,
    'dsport':str,
    'proto':str,
    'state':str,
    'dur':float,
    'sbytes':int,
    'dbytes':int,
    'sttl':int,
    'dttl':int,
    'sloss':int,
    'dloss':int,
    'service':str,
    'Sload':float,
    'Dload':float,
    'Spkts':int,
    'Dpkts':int,
    'swin':int,
    'dwin':int,
    'stcpb':int,
    'dtcpb':int,
    'smeansz':int,
    'dmeansz':int,
    'trans_depth':int,
    'res_bdy_len':int,
    'Sjit':float,
    'Djit':float,
    'Stime':int,
    'Ltime':int,
    'Sintpkt':float,
    'Dintpkt':float,
    'tcprtt':float,
    'synack':float,
    'ackdat':float,
    'is_sm_ips_ports':bool,
    'ct_state_ttl':int,
    'ct_flw_http_mthd':int,
    'is_ftp_login':bool,
    'ct_ftp_cmd':int,
    'ct_srv_src':int,
    'ct_srv_dst':int,
    'ct_dst_ltm':int,
    'ct_src_ltm':int,
    'ct_src_dport_ltm':int,
    'ct_dst_sport_ltm':int,
    'ct_dst_src_ltm':int,
    'attack_cat':str,
    'Label':str
    }
# Define los nombres de las columnas y sus tipos de datos
headers = ['srcip','sport','dstip','dsport','proto','state','dur','sbytes','dbytes','sttl','dttl','sloss','dloss','service','Sload','Dload','Spkts','Dpkts','swin','dwin','stcpb','dtcpb','smeansz','dmeansz','trans_depth','res_bdy_len','Sjit','Djit','Stime','Ltime','Sintpkt','Dintpkt','tcprtt','synack','ackdat','is_sm_ips_ports','ct_state_ttl','ct_flw_http_mthd','is_ftp_login','ct_ftp_cmd','ct_srv_src','ct_srv_dst','ct_dst_ltm','ct_src_ltm','ct_src_dport_ltm','ct_dst_sport_ltm','ct_dst_src_ltm','attack_cat','Label']
file1 = pd.read_csv(file_path1, header=0, names=headers, dtype=dtype_mapping)
file1

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,dttl,sloss,dloss,service,Sload,Dload,Spkts,Dpkts,swin,dwin,stcpb,dtcpb,smeansz,dmeansz,trans_depth,res_bdy_len,Sjit,Djit,Stime,Ltime,Sintpkt,Dintpkt,tcprtt,synack,ackdat,is_sm_ips_ports,ct_state_ttl,ct_flw_http_mthd,is_ftp_login,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,29,0,0,-,8.767609e+04,5.048017e+04,4,4,0,0,0,0,132,76,0,0,9.891010,10.682733,1421927414,1421927414,7.005000,7.564333,0.000000,0.000000,0.000000,False,0,0,False,0,2,4,2,3,1,1,2,NaN,0
1,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,29,0,0,dns,5.218945e+05,6.362824e+05,2,2,0,0,0,0,73,89,0,0,0.000000,0.000000,1421927414,1421927414,0.017000,0.013000,0.000000,0.000000,0.000000,False,0,0,False,0,12,8,1,2,2,1,1,NaN,0
2,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,29,0,0,dns,4.367246e+05,5.425972e+05,2,2,0,0,0,0,66,82,0,0,0.000000,0.000000,1421927414,1421927414,0.043000,0.014000,0.000000,0.000000,0.000000,False,0,0,False,0,6,9,1,1,1,1,1,NaN,0
3,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,29,0,0,dns,4.995722e+05,6.090676e+05,2,2,0,0,0,0,73,89,0,0,0.000000,0.000000,1421927414,1421927414,0.005000,0.003000,0.000000,0.000000,0.000000,False,0,0,False,0,7,9,1,1,1,1,1,NaN,0
4,59.166.0.0,32119,149.171.126.9,111,udp,CON,0.078339,568,312,31,29,0,0,-,4.350323e+04,2.389614e+04,4,4,0,0,0,0,142,78,0,0,29.682221,34.370340,1421927414,1421927414,21.003000,24.315000,0.000000,0.000000,0.000000,False,0,0,False,0,2,4,2,3,1,1,2,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,59.166.0.8,12520,149.171.126.6,31010,tcp,FIN,0.020383,320,1874,31,29,1,2,-,1.047932e+05,6.436736e+05,6,8,255,255,-1086280817,-1069481128,53,234,0,0,212.810729,3.079195,1421955842,1421955842,4.007400,2.027429,0.006386,0.006189,0.000197,False,0,0,False,0,8,20,7,5,1,1,4,NaN,0
699996,59.166.0.0,18895,149.171.126.9,80,tcp,FIN,1.402957,19410,1087890,31,29,2,370,http,1.103783e+05,6.195098e+06,364,746,255,255,283296697,-1865230542,53,1458,1,3924,203.808900,114.173588,1421955841,1421955842,3.864028,1.882421,0.000712,0.000550,0.000162,False,0,4,False,0,1,1,2,7,2,2,2,NaN,0
699997,59.166.0.0,30103,149.171.126.5,5190,tcp,FIN,0.007108,2158,2464,31,29,6,6,-,2.328644e+06,2.658413e+06,24,24,255,255,703293844,-1446006767,90,103,0,0,17.627831,0.432619,1421955842,1421955842,0.274261,0.285478,0.000657,0.000532,0.000125,False,0,0,False,0,13,13,6,7,2,1,2,NaN,0
699998,59.166.0.6,30388,149.171.126.5,111,udp,CON,0.004435,568,304,31,29,0,0,-,7.684329e+05,4.112740e+05,4,4,0,0,0,0,142,76,0,0,1.638604,1.390643,1421955842,1421955842,1.165667,0.987333,0.000000,0.000000,0.000000,False,0,0,False,0,10,13,6,5,1,1,3,NaN,0
699999,59.166.0.0,6055,149.171.126.5,54145,tcp,FIN,0.072974,4238,60788,31,29,7,30,-,4.582454e+05,6.571546e+06,72,72,255,255,1003293149,1003585034,59,844,0,0,62.045310,61.899776,1421955842,1421955842,1.022690,0.997042,0.002317,0.002173,0.000144,False,0,0,False,0,13,13,6,7,1,1,2,NaN,0

In [57]:
# Establece la opción max_rows en None para mostrar todas las filas
pd.reset_option('display.max_rows')

In [30]:
# Supongamos que 'file1' es tu DataFrame
valores_unicos = file1['sport'].unique()

for valor in valores_unicos:
    try:
        # Intenta convertir el valor a un tipo numérico
        pd.to_numeric(valor)
    except ValueError:
        # Si ocurre un error, imprime el valor no numérico
        print(valor)

0x000b
0x000c
-

In [33]:
filtro = file1['sport'].isin(['0x000b', '0x000c','-'])
resultados = file1[filtro]
print(resultados)

                 srcip   sport           dstip      dsport proto state  \
36371       10.40.85.1  0x000b    175.45.176.2           -  icmp   TXD
36372       10.40.85.1  0x000b    175.45.176.2           0  icmp   TXD
47315       10.40.85.1  0x000c    175.45.176.3           -  icmp   PAR
47316       10.40.85.1  0x000c    175.45.176.3           0  icmp   PAR
82530     175.45.176.1       -  149.171.126.12  0x20205321   esp   INT
116471      10.40.85.1  0x000c    175.45.176.2           -  icmp   PAR
116472      10.40.85.1  0x000c    175.45.176.2           0  icmp   PAR
143350  149.171.126.19       -    175.45.176.1       48879  icmp   ECR

              dur  sbytes  dbytes  sttl  dttl  sloss  dloss service  \
36371    0.000000     264       0    64     0      0      0       -
36372    0.112805     264       0    64     0      0      0       -
47315    0.000000     147       0    64     0      0      0       -
47316    0.000000     147       0    64     0      0      0       -
82530    0.000000     200       0   254     0      0      0       -
116471   0.000000    2800       0    64     0      0      0       -
116472  20.422791    2800       0    64     0      0      0       -
143350   0.000000       0     156     0   254      0      0       -

               Sload  Dload  Spkts  Dpkts  swin  dwin  stcpb  dtcpb  smeansz  \
36371   1.248172e+04    0.0      3      0     0     0      0      0       88
36372   1.248172e+04    0.0      3      0     0     0      0      0       88
47315   0.000000e+00    0.0      1      0     0     0      0      0      147
47316   0.000000e+00    0.0      1      0     0     0      0      0      147
82530   2.000000e+08    0.0      2      0     0     0      0      0      100
116471  1.041973e+03    0.0     20      0     0     0      0      0      140
116472  1.041973e+03    0.0     20      0     0     0      0      0      140
143350  5.672727e+07    0.0      0      2     0     0      0      0        0

        dmeansz  trans_depth  res_bdy_len      Sjit  Djit       Stime  \
36371         0            0            0   16.4055   0.0  1421928800
36372         0            0            0   16.4055   0.0  1421928800
47315         0            0            0    0.0000   0.0  1421929277
47316         0            0            0    0.0000   0.0  1421929277
82530         0            0            0    0.0000   0.0  1421930680
116471        0            0            0  222.7920   0.0  1421931785
116472        0            0            0  222.7920   0.0  1421931785
143350       78            0            0    0.0000   0.0  1421932729

             Ltime     Sintpkt  Dintpkt  tcprtt  synack  ackdat  \
36371   1421928800    56.40250    0.000     0.0     0.0     0.0
36372   1421928800    56.40250    0.000     0.0     0.0     0.0
47315   1421929277     0.00000    0.000     0.0     0.0     0.0
47316   1421929277     0.00000    0.000     0.0     0.0     0.0
82530   1421930680     0.00400    0.000     0.0     0.0     0.0
116471  1421931805  1074.88375    0.000     0.0     0.0     0.0
116472  1421931805  1074.88375    0.000     0.0     0.0     0.0
143350  1421932729     0.00000    0.011     0.0     0.0     0.0

        is_sm_ips_ports  ct_state_ttl  ct_flw_http_mthd  is_ftp_login  \
36371             False             0                 0         False
36372             False             0                 0         False
47315             False             0                 0         False
47316             False             0                 0         False
82530             False             2                 0         False
116471            False             0                 0         False
116472            False             0                 0         False
143350            False             0                 0         False

        ct_ftp_cmd  ct_srv_src  ct_srv_dst  ct_dst_ltm  ct_src_ltm  \
36371            0           2           2           2           2
36372            0           2           2           2           2
47315            0           2           2           2           2
47316            0           2           2           2           2
82530            0          12          12           4           4
116471           0           2           2           2           2
116472           0           2           2           2           2
143350           0           2           2           2           2

        ct_src_dport_ltm  ct_dst_sport_ltm  ct_dst_src_ltm attack_cat Label
36371                  1                 2               2        NaN     0
36372                  1                 2               2        NaN     0
47315                  1                 2               2        NaN     0
47316                  1                 2               2        NaN     0
82530                  2                 1               4        NaN     0
116471                 1                 2               2        NaN     0
116472                 1                 2               2        NaN     0
143350                 2                 1               2        NaN     0

In [20]:
file1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700000 entries, 0 to 699999
Data columns (total 49 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   srcip             700000 non-null  object
 1   sport             700000 non-null  object
 2   dstip             700000 non-null  object
 3   dsport            700000 non-null  object
 4   proto             700000 non-null  object
 5   state             700000 non-null  object
 6   dur               700000 non-null  float64
 7   sbytes            700000 non-null  int32
 8   dbytes            700000 non-null  int32
 9   sttl              700000 non-null  int32
 10  dttl              700000 non-null  int32
 11  sloss             700000 non-null  int32
 12  dloss             700000 non-null  int32
 13  service           700000 non-null  object
 14  Sload             700000 non-null  float64
 15  Dload             700000 non-null  float64
 16  Spkts             700000 non-null  int32
 17  Dpkts             700000 non-null  int32
 18  swin              700000 non-null  int32
 19  dwin              700000 non-null  int32
 20  stcpb             700000 non-null  int32
 21  dtcpb             700000 non-null  int32
 22  smeansz           700000 non-null  int32
 23  dmeansz           700000 non-null  int32
 24  trans_depth       700000 non-null  int32
 25  res_bdy_len       700000 non-null  int32
 26  Sjit              700000 non-null  float64
 27  Djit              700000 non-null  float64
 28  Stime             700000 non-null  int32
 29  Ltime             700000 non-null  int32
 30  Sintpkt           700000 non-null  float64
 31  Dintpkt           700000 non-null  float64
 32  tcprtt            700000 non-null  float64
 33  synack            700000 non-null  float64
 34  ackdat            700000 non-null  float64
 35  is_sm_ips_ports   700000 non-null  bool
 36  ct_state_ttl      700000 non-null  int32
 37  ct_flw_http_mthd  700000 non-null  int32
 38  is_ftp_login      700000 non-null  bool
 39  ct_ftp_cmd        700000 non-null  int32
 40  ct_srv_src        700000 non-null  int32
 41  ct_srv_dst        700000 non-null  int32
 42  ct_dst_ltm        700000 non-null  int32
 43  ct_src_ltm        700000 non-null  int32
 44  ct_src_dport_ltm  700000 non-null  int32
 45  ct_dst_sport_ltm  700000 non-null  int32
 46  ct_dst_src_ltm    700000 non-null  int32
 47  attack_cat        22215 non-null   object
 48  Label             700000 non-null  object
dtypes: bool(2), float64(10), int32(28), object(9)
memory usage: 177.6+ MB

In [23]:
# Selecciona las columnas que quieres explorar
columns_to_explore = ['sport', 'dsport']

# Utiliza value_counts() en esas columnas
for column in columns_to_explore:
    print(f"Valores únicos en la columna {column}:")
    print(file1[column].value_counts())
    print("\n")

Valores únicos en la columna sport:
sport
0        9668
47439    6932
1043     5959
80        285
53        156
         ...
231         1
15092       1
53308       1
46201       1
36687       1
Name: count, Length: 64541, dtype: int64


Valores únicos en la columna dsport:
dsport
53       137296
80        74627
5190      40934
6881      34891
25        30292
          ...
31155         1
42164         1
47469         1
45940         1
30186         1
Name: count, Length: 62222, dtype: int64

In [34]:
# Elimina las filas que contienen los valores específicos en la columna 'sport'
valores_a_eliminar = ['0x000b', '0x000c', '-']
file1 = file1[~file1['sport'].isin(valores_a_eliminar)]

In [35]:
# Supongamos que 'file1' es tu DataFrame
valores_unicos = file1['dsport'].unique()

for valor in valores_unicos:
    try:
        # Intenta convertir el valor a un tipo numérico
        pd.to_numeric(valor)
    except ValueError:
        # Si ocurre un error, imprime el valor no numérico
        print(valor)

0xc0a8
-
0x20205321

In [36]:
# Elimina las filas que contienen los valores específicos en la columna 'dsport'
valores_a_eliminar = ['0xc0a8', '0x20205321', '-']
file1 = file1[~file1['dsport'].isin(valores_a_eliminar)]

In [37]:
# Convertir las columnas 'sport' y 'dsport' a int16
file1['sport'] = file1['sport'].astype('int16')
file1['dsport'] = file1['dsport'].astype('int16')

In [38]:
file1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 699933 entries, 0 to 699999
Data columns (total 49 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   srcip             699933 non-null  object
 1   sport             699933 non-null  int16
 2   dstip             699933 non-null  object
 3   dsport            699933 non-null  int16
 4   proto             699933 non-null  object
 5   state             699933 non-null  object
 6   dur               699933 non-null  float64
 7   sbytes            699933 non-null  int32
 8   dbytes            699933 non-null  int32
 9   sttl              699933 non-null  int32
 10  dttl              699933 non-null  int32
 11  sloss             699933 non-null  int32
 12  dloss             699933 non-null  int32
 13  service           699933 non-null  object
 14  Sload             699933 non-null  float64
 15  Dload             699933 non-null  float64
 16  Spkts             699933 non-null  int32
 17  Dpkts             699933 non-null  int32
 18  swin              699933 non-null  int32
 19  dwin              699933 non-null  int32
 20  stcpb             699933 non-null  int32
 21  dtcpb             699933 non-null  int32
 22  smeansz           699933 non-null  int32
 23  dmeansz           699933 non-null  int32
 24  trans_depth       699933 non-null  int32
 25  res_bdy_len       699933 non-null  int32
 26  Sjit              699933 non-null  float64
 27  Djit              699933 non-null  float64
 28  Stime             699933 non-null  int32
 29  Ltime             699933 non-null  int32
 30  Sintpkt           699933 non-null  float64
 31  Dintpkt           699933 non-null  float64
 32  tcprtt            699933 non-null  float64
 33  synack            699933 non-null  float64
 34  ackdat            699933 non-null  float64
 35  is_sm_ips_ports   699933 non-null  bool
 36  ct_state_ttl      699933 non-null  int32
 37  ct_flw_http_mthd  699933 non-null  int32
 38  is_ftp_login      699933 non-null  bool
 39  ct_ftp_cmd        699933 non-null  int32
 40  ct_srv_src        699933 non-null  int32
 41  ct_srv_dst        699933 non-null  int32
 42  ct_dst_ltm        699933 non-null  int32
 43  ct_src_ltm        699933 non-null  int32
 44  ct_src_dport_ltm  699933 non-null  int32
 45  ct_dst_sport_ltm  699933 non-null  int32
 46  ct_dst_src_ltm    699933 non-null  int32
 47  attack_cat        22215 non-null   object
 48  Label             699933 non-null  object
dtypes: bool(2), float64(10), int16(2), int32(28), object(7)
memory usage: 174.9+ MB

## Eliminación de campos excesivos

In [78]:
df1 = file1[['srcip','sport','dstip','dsport','proto','sbytes','dbytes','sttl','dttl','sloss','dloss','service','Sload','Dload','Spkts','Dpkts','Stime','Ltime','attack_cat','Label']]

In [79]:
df1

,srcip,sport,dstip,dsport,proto,sbytes,dbytes,sttl,dttl,sloss,dloss,service,Sload,Dload,Spkts,Dpkts,Stime,Ltime,attack_cat,Label
0,59.166.0.0,-31875,149.171.126.9,1024,udp,528,304,31,29,0,0,-,8.767609e+04,5.048017e+04,4,4,1421927414,1421927414,NaN,0
1,59.166.0.6,1464,149.171.126.7,53,udp,146,178,31,29,0,0,dns,5.218945e+05,6.362824e+05,2,2,1421927414,1421927414,NaN,0
2,59.166.0.5,3593,149.171.126.5,53,udp,132,164,31,29,0,0,dns,4.367246e+05,5.425972e+05,2,2,1421927414,1421927414,NaN,0
3,59.166.0.3,-15872,149.171.126.0,53,udp,146,178,31,29,0,0,dns,4.995722e+05,6.090676e+05,2,2,1421927414,1421927414,NaN,0
4,59.166.0.0,32119,149.171.126.9,111,udp,568,312,31,29,0,0,-,4.350323e+04,2.389614e+04,4,4,1421927414,1421927414,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,59.166.0.8,12520,149.171.126.6,31010,tcp,320,1874,31,29,1,2,-,1.047932e+05,6.436736e+05,6,8,1421955842,1421955842,NaN,0
699996,59.166.0.0,18895,149.171.126.9,80,tcp,19410,1087890,31,29,2,370,http,1.103783e+05,6.195098e+06,364,746,1421955841,1421955842,NaN,0
699997,59.166.0.0,30103,149.171.126.5,5190,tcp,2158,2464,31,29,6,6,-,2.328644e+06,2.658413e+06,24,24,1421955842,1421955842,NaN,0
699998,59.166.0.6,30388,149.171.126.5,111,udp,568,304,31,29,0,0,-,7.684329e+05,4.112740e+05,4,4,1421955842,1421955842,NaN,0
699999,59.166.0.0,6055,149.171.126.5,-11391,tcp,4238,60788,31,29,7,30,-,4.582454e+05,6.571546e+06,72,72,1421955842,1421955842,NaN,0

In [80]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 699933 entries, 0 to 699999
Data columns (total 20 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   srcip       699933 non-null  object
 1   sport       699933 non-null  int16
 2   dstip       699933 non-null  object
 3   dsport      699933 non-null  int16
 4   proto       699933 non-null  object
 5   sbytes      699933 non-null  int32
 6   dbytes      699933 non-null  int32
 7   sttl        699933 non-null  int32
 8   dttl        699933 non-null  int32
 9   sloss       699933 non-null  int32
 10  dloss       699933 non-null  int32
 11  service     699933 non-null  object
 12  Sload       699933 non-null  float64
 13  Dload       699933 non-null  float64
 14  Spkts       699933 non-null  int32
 15  Dpkts       699933 non-null  int32
 16  Stime       699933 non-null  int32
 17  Ltime       699933 non-null  int32
 18  attack_cat  22215 non-null   object
 19  Label       699933 non-null  object
dtypes: float64(2), int16(2), int32(10), object(6)
memory usage: 77.4+ MB

## Optimización

In [81]:
# Define los valores que deseas buscar
valores_a_buscar = ['', 'NA', 'null', 'NaN', 'nan']

# Crea un diccionario para almacenar los recuentos de valores encontrados por columna
valores_por_columna = {}

# Itera sobre cada columna del DataFrame
for columna in df1.columns:
    # Cuenta el número de valores que coinciden con los valores buscados en la columna actual
    recuento_valores = df1[columna].isin(valores_a_buscar).sum()
    # Almacena el recuento en el diccionario
    valores_por_columna[columna] = recuento_valores

# Imprime los resultados
for columna, recuento in valores_por_columna.items():
    print(f"Columna '{columna}' tiene {recuento} valores que coinciden con los valores buscados.")

Columna 'srcip' tiene 0 valores que coinciden con los valores buscados.
Columna 'sport' tiene 0 valores que coinciden con los valores buscados.
Columna 'dstip' tiene 0 valores que coinciden con los valores buscados.
Columna 'dsport' tiene 0 valores que coinciden con los valores buscados.
Columna 'proto' tiene 0 valores que coinciden con los valores buscados.
Columna 'sbytes' tiene 0 valores que coinciden con los valores buscados.
Columna 'dbytes' tiene 0 valores que coinciden con los valores buscados.
Columna 'sttl' tiene 0 valores que coinciden con los valores buscados.
Columna 'dttl' tiene 0 valores que coinciden con los valores buscados.
Columna 'sloss' tiene 0 valores que coinciden con los valores buscados.
Columna 'dloss' tiene 0 valores que coinciden con los valores buscados.
Columna 'service' tiene 0 valores que coinciden con los valores buscados.
Columna 'Sload' tiene 0 valores que coinciden con los valores buscados.
Columna 'Dload' tiene 0 valores que coinciden con los valores buscados.
Columna 'Spkts' tiene 0 valores que coinciden con los valores buscados.
Columna 'Dpkts' tiene 0 valores que coinciden con los valores buscados.
Columna 'Stime' tiene 0 valores que coinciden con los valores buscados.
Columna 'Ltime' tiene 0 valores que coinciden con los valores buscados.
Columna 'attack_cat' tiene 0 valores que coinciden con los valores buscados.
Columna 'Label' tiene 0 valores que coinciden con los valores buscados.

In [82]:
# Crea un diccionario para almacenar los recuentos de valores NaN encontrados por columna
valores_por_columna = {}

# Itera sobre cada columna del DataFrame
for columna in df1.columns:
    # Cuenta el número de valores NaN en la columna actual
    recuento_valores = df1[columna].isna().sum()
    # Almacena el recuento en el diccionario
    valores_por_columna[columna] = recuento_valores

# Imprime los resultados
for columna, recuento in valores_por_columna.items():
    print(f"Columna '{columna}' tiene {recuento} valores NaN.")

Columna 'srcip' tiene 0 valores NaN.
Columna 'sport' tiene 0 valores NaN.
Columna 'dstip' tiene 0 valores NaN.
Columna 'dsport' tiene 0 valores NaN.
Columna 'proto' tiene 0 valores NaN.
Columna 'sbytes' tiene 0 valores NaN.
Columna 'dbytes' tiene 0 valores NaN.
Columna 'sttl' tiene 0 valores NaN.
Columna 'dttl' tiene 0 valores NaN.
Columna 'sloss' tiene 0 valores NaN.
Columna 'dloss' tiene 0 valores NaN.
Columna 'service' tiene 0 valores NaN.
Columna 'Sload' tiene 0 valores NaN.
Columna 'Dload' tiene 0 valores NaN.
Columna 'Spkts' tiene 0 valores NaN.
Columna 'Dpkts' tiene 0 valores NaN.
Columna 'Stime' tiene 0 valores NaN.
Columna 'Ltime' tiene 0 valores NaN.
Columna 'attack_cat' tiene 677718 valores NaN.
Columna 'Label' tiene 0 valores NaN.

### Necesito convertir los NaN de 'attack_cat' al valor 'good'

In [83]:
# Convertir NaN en 'attack_cat' a 'good' usando .loc
df1.loc[df1['attack_cat'].isna(), 'attack_cat'] = 'good'

In [84]:
df1['attack_cat'].isna().sum()

0

## Analizando posibles campos categóricos

In [74]:
df1.proto.unique()

array(['udp', 'arp', 'tcp', 'ospf', 'icmp', 'igmp', 'sctp', 'udt', 'sep',
       'sun-nd', 'swipe', 'mobile', 'pim', 'rtp', 'ipnip', 'ip', 'ggp',
       'st2', 'egp', 'cbt', 'emcon', 'nvp', 'igp', 'xnet', 'argus',
       'bbn-rcc', 'chaos', 'pup', 'hmp', 'mux', 'dcn', 'prm', 'trunk-1',
       'xns-idp', 'trunk-2', 'leaf-1', 'leaf-2', 'irtp', 'rdp', 'iso-tp4',
       'netblt', 'mfe-nsp', 'merit-inp', '3pc', 'xtp', 'idpr', 'tp++',
       'ddp', 'idpr-cmtp', 'ipv6', 'il', 'idrp', 'ipv6-frag', 'sdrp',
       'ipv6-route', 'gre', 'rsvp', 'mhrp', 'bna', 'i-nlsp', 'narp',
       'ipv6-no', 'tlsp', 'skip', 'ipv6-opts', 'any', 'cftp', 'sat-expak',
       'kryptolan', 'rvd', 'ippc', 'sat-mon', 'ipcv', 'visa', 'cpnx',
       'cphb', 'wsn', 'pvp', 'br-sat-mon', 'wb-mon', 'wb-expak', 'iso-ip',
       'secure-vmtp', 'vmtp', 'vines', 'ttp', 'nsfnet-igp', 'dgp', 'tcf',
       'eigrp', 'sprite-rpc', 'larp', 'mtp', 'ax.25', 'ipip', 'micp',
       'aes-sp3-d', 'encap', 'etherip', 'pri-enc', 'gmtp', 'pnni', 'ifmp',
       'aris', 'qnx', 'a/n', 'scps', 'snp', 'ipcomp', 'compaq-peer',
       'ipx-n-ip', 'vrrp', 'zero', 'pgm', 'iatp', 'ddx', 'l2tp', 'srp',
       'stp', 'smp', 'uti', 'sm', 'ptp', 'fire', 'crtp', 'isis', 'crudp',
       'sccopmce', 'sps', 'pipe', 'iplt', 'unas', 'fc', 'ib'],
      dtype=object)

In [76]:
df1.service.unique()

array(['-', 'dns', 'http', 'smtp', 'ftp-data', 'ftp', 'ssh', 'pop3',
       'snmp', 'ssl', 'irc', 'radius', 'dhcp'], dtype=object)

In [77]:
df1.Label.unique()

array(['0', '1'], dtype=object)

In [93]:
df1.loc[:,'Label'] = df1['Label'].astype(np.int8)

## Optimizando Memoria y Formatos

In [94]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 699933 entries, 0 to 699999
Data columns (total 20 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   srcip       699933 non-null  object
 1   sport       699933 non-null  int16
 2   dstip       699933 non-null  object
 3   dsport      699933 non-null  int16
 4   proto       699933 non-null  object
 5   sbytes      699933 non-null  int32
 6   dbytes      699933 non-null  int32
 7   sttl        699933 non-null  int32
 8   dttl        699933 non-null  int32
 9   sloss       699933 non-null  int32
 10  dloss       699933 non-null  int32
 11  service     699933 non-null  object
 12  Sload       699933 non-null  float64
 13  Dload       699933 non-null  float64
 14  Spkts       699933 non-null  int32
 15  Dpkts       699933 non-null  int32
 16  Stime       699933 non-null  int32
 17  Ltime       699933 non-null  int32
 18  attack_cat  699933 non-null  object
 19  Label       699933 non-null  int8
dtypes: float64(2), int16(2), int32(10), int8(1), object(5)
memory usage: 72.8+ MB

In [95]:
# Verificar rango para Spkts
min_spkts = df1['Spkts'].min()
max_spkts = df1['Spkts'].max()

# Verificar rango para Dpkts
min_dpkts = df1['Dpkts'].min()
max_dpkts = df1['Dpkts'].max()

print(f"Rango para Spkts: {min_spkts} - {max_spkts}")
print(f"Rango para Dpkts: {min_dpkts} - {max_dpkts}")

Rango para Spkts: 0 - 10200
Rango para Dpkts: 0 - 10970

In [97]:
df1.loc[:,'Spkts'] = df1['Spkts'].astype('int16')
df1.loc[:,'Dpkts'] = df1['Dpkts'].astype('int16')

In [98]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 699933 entries, 0 to 699999
Data columns (total 20 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   srcip       699933 non-null  object
 1   sport       699933 non-null  int16
 2   dstip       699933 non-null  object
 3   dsport      699933 non-null  int16
 4   proto       699933 non-null  object
 5   sbytes      699933 non-null  int32
 6   dbytes      699933 non-null  int32
 7   sttl        699933 non-null  int32
 8   dttl        699933 non-null  int32
 9   sloss       699933 non-null  int32
 10  dloss       699933 non-null  int32
 11  service     699933 non-null  object
 12  Sload       699933 non-null  float64
 13  Dload       699933 non-null  float64
 14  Spkts       699933 non-null  int16
 15  Dpkts       699933 non-null  int16
 16  Stime       699933 non-null  int32
 17  Ltime       699933 non-null  int32
 18  attack_cat  699933 non-null  object
 19  Label       699933 non-null  int8
dtypes: float64(2), int16(4), int32(8), int8(1), object(5)
memory usage: 70.1+ MB